.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100vh;
    font-size: 1.8rem;
    border: 0.1rem solid rgb( 86, 165, 235, 0.25);
    background-color: white;
}
.choice-container:hover{
     cursor: pointer;
    transition: transform 150ms;
    box-shadow: 0 0.4rem 1.4rem 0 blue;
    transform: tranaslateY(-0.1rem);
}

.choice-prefix
{
    padding: 1.5rem 2.5rem;
    background-color: blue;
    color: white;
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
}

