body{
    background-image: url(IMG.jpg);
    display: flex;
    justify-content: center;    
    padding-top: 7rem;   
}
.sign{

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    justify-content: center;
    width: 300px;
    align-items: center;
}

.wrapper{
    background: transparent;
    display: flex;
    flex-direction: row;
    border: solid 0.5rem;
    border-radius: 25px;
    justify-content: center;
    width: fit-content;
    border-color: rgb(12, 12, 223);
    
}
.welcome{
    
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    background: transparent;
    border: solid rgb(12, 12, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p input{
    font-size: 20px;
    border: 10cap ;
    background: transparent;
    border: solid 0.1rem;
}
.sign p{
    background: transparent;
    border-radius: 15px;
}
.input{
    background: transparent;
}
.welcome p{
    font-display: ;
    color: white;
}
.welcome h1{
    color:black;
}
.btn{
    text-decoration: none;
    border: 6px solid  red;
    background-color: red;
    width: 70px;
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
    font-size: 20px;
    border-radius:25px ;
}
.btn:hover{
    cursor: pointer;
    transition: transform 150ms;
    box-shadow: 0 0.4rem 1.4rem 0 blue;
    transform: tranaslateY(-0.1rem);
}
.sign h1{
    color: black;
}
:placeholder-shown{
    color: black;
}
::placeholder{
    color: white;
}

